<%= render "layouts/head" %>
  <body class="fixed-header">
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img src="<%= image_path('logo.png') %>" alt="logo" data-src="<%= image_path('logo.png') %>" data-src-retina="<%= image_path('logo_2x.png') %>" width="145" height="30">
            <h3>Password reset</h3>
            <%= yield %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
