<%= render "layouts/head" %>
  <body class="fixed-header">
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img src="<%= image_path('logo.png') %>" alt="logo" data-src="<%= image_path('logo.png') %>" data-src-retina="<%= image_path('logo_2x.png') %>" width="78" height="22">
            <h3>Pages makes it easy to enjoy what matters the most in your life</h3>
            <p>
              <small>Create a pages account. Please sign up with your company email address if you have one.</small>
            </p>
            <%= yield %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
