<%= render "layouts/head" %>
  <body class="fixed-header">
    <div class="login-wrapper">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Pic-->

        <img src="<%= image_path('coastal_ocean_sunrise.jpg') %>" data-src="<%= image_path('coastal_ocean_sunrise.jpg') %>" data-src-retina="<%= image_path('coastal_ocean_sunrise.jpg') %>" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">
          Hire quality caregivers</h2>
          <p class="small">
            Frictionless caregiver referrals and intelligent pre-screening.
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <img src="<%= image_path('logo.png') %>" alt="logo" data-src="<%= image_path('logo.png') %>" data-src-retina="<%= image_path('logo_2x.png') %>" width="78" height="22">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
      <!-- END Login Right Container-->
    </div>
    <%= render "layouts/footer" %>
